@charset "utf-8";

@import url("https://use.typekit.net/twl0fso.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .nes-btn {
        border-image-repeat: stretch;
    }
}

@keyframes adam-walk {
    from {
        background-position: 0px 0;
    }

    to {
        background-position: -264px 0;
    }
}

@keyframes adam-graduate {
    from {
        background-position: -264px 0;
    }

    to {
        background-position: -528px 0;
    }
}

@keyframes adam-celebrate {
    from {
        background-position: -528px 0;
    }

    to {
        background-position: -792px 0;
    }
}

:root {
    --bs-body-font-size: 1.25rem;
    --bs-nav-link-font-size: 1.25rem;
}

.cred-badge {
    height: 9em
}

.profile-avatar {
    max-width: 12em !important;
    height: auto !important;
}

.adam-nav {
    width: 1px !important;
    height: 1px !important;
    transform: scale(50%);
    z-index: 1;
    left: -.50rem;
}

.adam-nav::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 132px;
    left: 0;
    top: 0;
}

.adam-walk::after {
    background-image: url("../assets/spritesheet_retro.png");
    animation: adam-walk 1s infinite steps(4);
}

.adam-walk-modern::after {
    background-image: url("../assets/spritesheet_modern.png");
    animation: adam-walk 1s infinite steps(4);
}

.adam-celebrate::after {
    background-image: url("../assets/spritesheet_retro.png");
    animation: adam-celebrate 1s infinite steps(4);
}

.adam-celebrate-modern::after {
    background-image: url("../assets/spritesheet_modern.png");
    animation: adam-celebrate 1s infinite steps(4);
}

.adam-graduate::after {
    background-image: url("../assets/spritesheet_retro.png");
    animation: adam-graduate 1s infinite steps(4);
}

.adam-graduate-modern::after {
    background-image: url("../assets/spritesheet_modern.png");
    animation: adam-graduate 1s infinite steps(4);
}


.nes-badge {
    margin-right: 5em !important;
}

.nes-container.with-title>.title {
    margin-top: -1.95rem !important;
}

.balance-text {
    text-wrap: balanced;
}

body {
    overflow-x: hidden;
    font-family: "lores-12-narrow";
}


.navbar-title {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.item.containers>.nes-container {
    display: inline-block;
    max-width: 400px;
}

.navbar-brand {
    font-size: 2rem !important;
    text-align: center !important;
}

.text-bold {
    font-weight: 700 !important;
}

.nes-balloon {
    display: flex;
    align-items: center;
}

.nes-container.with-title>.title {
    font-size: 1.5rem !important;
}

.list-group {
    margin-top: -1rem;
}

.list-group-item {
    border: none;
    margin-left: 2rem;
}

.hover-interact:hover {
    text-decoration: none;
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}