@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(/fonts/sourcecodepro/SourceCodePro-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/sourcesanspro/SourceSansPro-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

body {
    padding-top: 4.5rem !important;
    font-family: "Source Sans Pro", 'sans-serif' !important;
    font-weight: 400;

}

.bg-dark-blue {
    background-color: var(--indigo) !important;
}

.adam-profile {
    max-width: 33% !important;
    padding-bottom: 0.5rem;
}

.adam-info {
    max-width: 90% !important;
    margin-bottom: 1rem;
}

.part-round {
    border-radius: 15% !important;
}

.nav-link, .btn {
    font-weight: 600 !important;
    text-transform: none !important;
}

.code {
    font-family: "Source Code Pro", 'monospace' !important;
    font-weight: 600 !important;
    text-transform: none !important;
}

.code-bkg {
    background-color: #212529 !important;
}

.cust-col {
    display: flex !important;
    align-items: center !important;
}

.badge {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.font-weight-semi-bold {
    font-weight:600! important
}

.fa-code {
    -webkit-text-stroke: 1px var(--indigo) !important;
}