<div class="Header">
    <div class="Header-item Header-item--full">
        <a href="#" class="Header-link f4 d-flex flex-items-center"><i><img style="height:2em" src="/assets/adamfleishaker.png"></i>&nbsp;&nbsp;<span>{{site.name}}</span> </a>
    </div>
    <div class="Header-item"> <a href="https://github.com/{{site.github}}" class="Header-link"><iconify-icon height="2em" icon="uil:github" style="color: white;"></iconify-icon></a> </div>
    <div class="Header-item"> <a href="https://linkedin.com/in/{{site.linkedin}}" class="Header-link"><iconify-icon height="2em" icon="devicon:linkedin"></iconify-icon></a> </div>
    <div class="Header-item"> <a href="/assets/resume.pdf" class="Header-link"><iconify-icon height="2em" icon="fluent-emoji:page-facing-up"></iconify-icon></a> </div>
    <div class="Header-item mr-0">
        <button class="btn" id="toggle"><iconify-icon icon="fluent-emoji:crescent-moon" height="2em" id="toggle-icon"></iconify-icon></button>
    </div>
</div>