<div class="Header">
    <div class="Header-item Header-item--full">
        <a href="/#" class="Header-link f6 d-flex flex-items-center"><i><img style="height:4.5em" src="/assets/adamprofile.png"></i>&nbsp;<span>{{site.name}}</span></a>
    </div>
    <div class="Header-item">
        <a href="https://github.com/{{site.github}}" class="Header-link"><i class="nes-icon github"></i></a>
    </div>
    <div class="Header-item">
        <a href="https://linkedin.com/in/{{site.linkedin}}" class="Header-link"><i class="nes-icon linkedin"></i></a>
    </div>
    <div class="Header-item">
        <a href="/assets/resume.pdf" class="Header-link"><i class="nes-icon star"></i></a>
    </div>
</div>