<div class="Header">
    <div class="Header-item">
        <a href="#" class="Header-link f4 d-flex flex-items-center"> <span>{{site.name}}</span> </a>
    </div>
    <div class="Header-item"> <a href="https://linkedin.com/in/{{site.linkedin}}" class="Header-link"><i class="fab fa-linkedin-in"></i></a> </div>
    <div class="Header-item"> <a href="https://github.com/{{site.github}}" class="Header-link"><i class="fab fa-github-alt"></i></a> </div>
    <div class="Header-item Header-item--full"> <a href="/assets/resume.pdf" class="Header-link"><i class="fas fa-file-alt"></i></a> </div>
    <div class="Header-item mr-0">
        <button class="btn" id="toggle"><i class="fas fa-moon" id="toggle-icon"></i></button>
    </div>
</div>